@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
=======
>>>>>>> ba4f9ba6b7533ae3ab9710b2303b2c91d5907007

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0c3ea6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #051840;
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}

* {
  font-family: "Montserrat", sans-serif;
}

.clip-path-inverted {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
  position: absolute;
  top: 0;
  left: 0;
}

.custom-select {
  background-image: url("components/input/assets/seta-baixo.png"); /* Adicione o ícone desejado */
  background-position: right 1rem center; /* Posiciona a seta */
  background-repeat: no-repeat;
  background-size: 16px;
}
